<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAI.Properties.Settings.KreationConnectionString"
            connectionString="Data Source=SPIDERMAN;Initial Catalog=Kreation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKreationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KreationService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKreationService"
                contract="KreationService.IKreationService" name="BasicHttpBinding_IKreationService" />
        </client>
    </system.serviceModel>
</configuration>